*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  max-width: 300px;
  margin: 200px auto;
  border: 1px solid #000;
  height: 350px;
  background-color: #c784f5;
}
.card h1{
  margin: 10px 0px;
}
.card{
  color: #fff;
  text-align: center;
}
.card input{
  border-radius: 25px;
  padding: 10px; 
  margin: 12px;
  background-color: #c784f5;
  font-size: bold;
}
.card input[type="login"]{
  background-color: white;
}
.form-group-3 a {
  color: #fff;
  text-decoration: none; 
}
.form-group-3 label input{
  margin-top:1px;
}
.form input::placeholder{
  color:#fff;;
}
.form-group-3{
  display: flex;
  justify-content:space-around;
}
.card .form-group-4 p a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
} 
.form i {
  position: relative;
  right: 40px;
}
.btn{
  width: 80%;
  height: 35px;
  border-radius:15px;
  background-color: #fff;
  margin: 15px;
}
.form a[href]:hover{
  text-decoration: underline;
}

